:root {
	--r: 255;
	--g: 255;
	--b: 255;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	background: rgb(var(--r), var(--g), var(--b));
	min-height: 100vh;
	overflow: hidden;
}

h1 {
	font-weight: lighter;
}

.color-slider {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #dfdfdf;
	margin: 0 auto;
	max-width: 700px;
	width: 100%;
	border-radius: 10px;
	padding: 4rem 0;
	box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.1), 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
}

.form-header {
	font-size: 1.4rem;
	text-align: center;
	margin-bottom: 1.2rem;
}

.form-section {
	margin-bottom: 1.2rem;
}

form {
	width: 50%;
}

label,
input {
	display: block;
	width: 100%;
}

button {
	border: 3px solid rgb(var(--r), var(--g), var(--b));
	padding: .7rem 1rem;
	border-radius: 5px;
	color: rgb(var(--r), var(--g), var(--b));
	background-color: rgb(var(--r), var(--g), var(--b), .1);
	font-weight: 700;
	font-size: 1rem;
}

button:hover {
	cursor: pointer;
	background-color: rgb(var(--r), var(--g), var(--b), .3);
}